*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ctn{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.head{
  height: 810px;
  background-color:#1E213A;
  display: flex;
  flex-direction: column;
}
.headSection{
  display: flex;
  justify-content: center;
  align-items: center;
}
.head :nth-child(1){
  height: 9%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.head :nth-child(2){
  height: 38%;
  background-image: url(../public/Cloud-background.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  opacity: .1;
}
.head :nth-child(3){
  height: 15%;
}
.head :nth-child(4){
  height: 13%;
}
.head :nth-child(5){
  height: 7%;
}
.head :nth-child(6){
  height: 18%;
}
.main{
  height: 1718px;
  background-color:#100E1D;
}
.mainUp{
  height: 40%;
  display: flex;
  flex-direction: column;
}
.mainUp1{
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 20px;
  color: aliceblue;
}
.mainUp2{
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 52px;
}
.bloque{
  width: 120px;
  height: 177px;
  background-color: #1E213A;
  
}
.mainDown{
  height: 55%;
  display: flex;
  flex-direction: column;
}
.mainDown > h1{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 23px;
  color: aliceblue;
}
.mainDownBloques{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.bloque1{
  width: 328px;
  height: 204px;
  background-color: #1E213A;
  display: flex;
  justify-content: center;
}
.bloque13{
  width: 328px;
  height: 204px;
  background-color: #1E213A;
  display: flex;
  justify-content: center;
}
.bloque2{
  width: 328px;
  height: 159px;
  background-color: #1E213A;
  
}
.mainFoter{
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}
@media screen and (min-width: 1025px){
  .ctn{
    width: 100vw;
    height: 1024px;
    display: flex;
    flex-direction: row;
  }
  .head{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .headSection{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head :nth-child(1){
    height: 10%;
  }
  
 .head :nth-child(2){
    height: 40%;
    background-image: url(../public/Cloud-background.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
  }
  .head :nth-child(3){
    height: 20%;
  }
  .head :nth-child(4){
    height: 15%;
  }
  .head :nth-child(5){
    height: 7%;
  }
  .head :nth-child(6){
    height: 8%;
  }
  .search-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 78px;
   background-color: aliceblue;
   cursor: pointer;

  }
  .main{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
  }
  .mainUp{
    height: 40%;
  }
  .mainUp1{
    height: 20%;
    margin-right: 1px;
  }
  .mainUp2{
    height: 80%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .mainDown{
    height: 60%;
  }
  .mainDownBloques{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px){
  .ctn{
    width: 100vw;
    height: 1024px;
  }
  .head :nth-child(2){
    height: 40%;
    background-size: 130%;
  }
  .main{
    padding: 0 150px;
  }
}